body {
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
}

#chocolates {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.chocolate {
    text-align: center;
}

.chocolate img {
    max-width: 100px;
}

button.add-button {
    margin-top: 10px;
}

#custom-pack {
    margin-top: 50px;
    text-align: center;
}
